doctype html
html
  head
    title Busqueda de estudiante
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h2 Buscar estudiante
    input#(type="text", name="")
    button(id="buscar1") Enviar
    table
        tr
            td Nombre
            td Apellido Paterno
            td Apellido Materno