doctype html
html
  head
    title title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h2 Buscar estudiante
    div buscar por 
      select(id="buscar")
        option(value="Municipio") Municipio
        option(value="Promedio") Promedio
        option(value="Escuela") Escuela

    br
    br
    table(border="1")
      thead
        td Nombre
        td Valor
      tbody(id="tabla")
  script(src="/javascripts/jquery.js")
  script(src="/javascripts/funciones.js")  