doctype html
html
  head
    title Registro de estudiante
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h2 Eliminar estudiante
    input(type="text", name="")
    button(id="eliminar") Enviar
