doctype html
html
  head
    title title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h2 Eliminar estudiante por Estatus
    button(id="eliminarBYEstatus") Enviar
  script(src="/jquery/jquery.js")
  script(src="/javascripts/funciones.js")  
