extends layout

block content
  nav
    div
      a(href="") Inicio
    div
      a(href="/estudiante/insertarusuario") Registrar Estudiante
    div
      a(href="/estudiante/busqueda") Buscar Estudiante
    div
      a(href="/estudiante/eliminarestudiante") Eliminar Estudiante
    div
      a(href="/actualizarestudiante") Actualizar Datos Estudiante
    div
      a(href="/actualizadireccionestudiante") Actualizar dirección estudiante
  center
    h2 Lista de Estudiantes
    input(type="text", name="datoBuscar", id="datoBuscar", 
      placeholder="Ingrese el dato")
    button(id="buscar1") Enviar
  br
  br
  table(border="1", width="400")
    thead
      td Nombre
      td Apellido Paterno
      td Apellido Materno
    tbody(id="tabla")
      

  script(src="/javascripts/jquery.js")
  script(src="/javascripts/funciones.js")  

