extends layout

block content
  div
    a(href="") Inicio
  div
    a(href="registroEstudiante.pug") Registrar Estudiante
  div
    a(href="") Buscar Estudiante
  div
    a(href="") Eliminar Estudiante
  div
    a(href="") Actualizar Datos Estudiante
  center
    h2 Lista de Estudiantes
  table(boder="2")
    tr
      td Nombre
      td Apellido Paterno
      td Apellido Materno
    tr
      td
      td
      td
    tr
      td
      td
      td

