doctype html
html
  head
    title title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h2 Buscar estudiante
    form(action="")
        fieldset
            p
                <label for="nombre">Nombre:</label> <input type="text" id="nombre">
            p
                <label for="apellidoPat">Apellido Paterno:</label> <input type="text" id="apellidoPat">
            p
                <label for="apellidoMat">Apellido Materno:</label> <input type="text" id="apellidoMat">
            p
                <label for="sexo">Sexo:</label> 
                <select id="sexo">
            
                </select>
            p
                <label for="celular">Celular:</label> <input type="phone" id="celular">
            p
                <label for="telefono">Telefono:</label> <input type="phone" id="telefono">
            p
                <label for="calle">Calle:</label> <input type="text" id="calle">
            p
                <label for="colonia">Colonia:</label> <input type="text" id="colonia">
            p
                <label for="municipio">Municipio:</label> <input type="text" id="municipio">
            p
                <label for="pais">Pais:</label> <input type="text" id="pais">
            p
                <label for="cp">C.P.:</label> <input type="number" id="cp">
            p
                <label for="curp">CURP:</label> <input type="text" id="curp">
            p
                <label for="tipoSangre">Tipo de sangre:</label> <input type="text" id="tipoSangre">
            p
                <label for="nss">NSS:</label> <input type="text" id="nss">
            p
                <label for="alergias">Alergias:</label> <input type="text" id="alergias">
            p
                <label for="estado">Estado:</label> 
                <select id="estado">
                
                </select>
            p
                <label for="email">EMAIL:</label> <input type="email" id="email">
            p
                <label for="id_academico">id academico:</label> <input type="number" id="id_academico">
            p
                <label for="status">estatus:</label> <input type="number" id="status">
            p
                <label for="id_tutor">id tutor:</label> <input type="number" id="id_tutor">
            center
                input(type="buttom", value="Ingresar estudiante", id="submitIngresar")
  script(src="/jquery/jquery.js")
  script(src="/javascripts/cargas/readyInsertar.js")
  script(src="/javascripts/funciones.js")  