doctype html
html
  head
    title Registro de estudiante
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h2 Buscar estudiante
    input#(type="text", name="") <button>Buscar</button>
    table
        tr
            td Nombre
            td Apellido Paterno
            td Apellido Materno