doctype html
html
  head
    title title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    form(action="")
        fieldset
            p
                select(id="id_estudiante")
            p
                <label for="curp">CURP:</label> <input type="text" id="curp">
            p
                <label for="estatus">Estatus:</label> <input type="text" id="estatus">
            p
                <label for="id_estado">ID estado:</label> <input type="text" id="id_estado">
            p
                <label for="id_salud">ID Salud:</label> <input type="text" id="id_salud">
            p
                <label for="id_persona">ID Persona:</label> <input type="text" id="id_persona">
            p
                <label for="id_academico">ID Académico:</label> <input type="number" id="id_academico">
            p
                <label for="id_tutor">ID Tutor:</label> <input type="number" id="id_tutor">
            center
                input(type="buttom", value="Actualizar estudiante", id="actualizar")
  script(src="/jquery/jquery.js")
  script(src="/javascripts/cargas/readyActualizacion.js")
  script(src="/javascripts/funciones.js")  