doctype html
html
  head
    title title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    form(action="")
        fieldset
            p
                <label for="calle">Calle:</label> <input type="text" id="calle">
            p
                <label for="colonia">Numero:</label> <input type="text" id="colonia">
            p
                <label for="municipio">Municipio:</label> <input type="text" id="municipio">
            p
                <label for="estado">Estado:</label> <input type="text" id="estado">
            p
                <label for="pais">Pais:</label> <input type="text" id="pais">
            p
                <label for="cp">C.P.:</label> <input type="number" id="cp">
            input(type="submit" value="Actualizar dirección")
  script(src="/javascripts/jquery.js")
  script(src="/javascripts/funciones.js")  